@import url("reset.css");

body {
  background-color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

/* header開始 */
.header {
  display: flex;
  background-color: white;
  height: 100px;
  justify-content: space-between;
  position: relative;
}

.headerout {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.header .logo img {
  height: 80px;
  margin-left: 80px;
  margin-top: 10px;
}

.listtext {
  /* width: 470px; */
  display: flex;
}

.listtext a {
  text-decoration: none;
  font-family: Arial;
  text-align: center;
  font-size: 18px;
  width: 100px;
  line-height: 100px;
  color: #4e4d4d;
}

.material-symbols-outlined {
  text-align: center;
  line-height: 100px;
  width: 80px;
}

.listtext > a:hover {
  background-color: #5e5e5e;
  color: #e0e0e0;
}
/* ====================== banner ==================== */
.banner {
  background-image: url(../img/bn.jpg);
  /* width: 1200; */
  height: 577px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.banner h1 {
  font-family: "Noto Serif TC";
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 0.2em;
  color: #ffffff;
  text-shadow: 0px 4px 7px #4e4d4d;

  position: absolute;
  width: 470px;
  height: 57px;
  left: calc(50% - 447px / 2 + 23.5px);
  top: 423px;
}

/* ====================== Article ======================= */

.article {
}
.title {
  display: flex;
  margin: 0 auto;
  position: relative;
  margin-top: 30px;
}


.title > img{
    display: inline-block;
    margin: 0 auto;
    /* background-color: aqua; */
}
.title::before {
    content: "About";
    display: block;
    font-size: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-297px);
    top: 40%;
}
.title::after {
    content: "I'M OFF!";
    display: block;
    font-size: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(170px);
    top: 40%;

}


/* ================= main ==================== */

.main {
  display: flex;
  height: 900px;
  margin: 0 auto;
}

.main h3 {
  margin-top: 107px;
  padding-left: 200px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.15em;
}

.main p {
  margin-left: 200px;
  margin-top: 123px;
  width: 493px;
  height: 685px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
}

.pic {
  width: 700px;
  height: 685px;
  margin-left: 20px;
  margin-top: 100px;

  display: flex;
}

li .pic {
  display: block;
}

.pic01 {
  padding-top: 164px;
  padding-right: 27px;
}

.pic02 {
  padding-bottom: 164px;
}
/*==================== section ==================== */

.section {
  /* width: 100%; */
  height: 457px;
}

/* ============== contant ============== */

.contant {
    background-image: url(../img/index.bg.jpg);
    height: 773px;
    background-repeat: no-repeat;
    margin-top: 50px;
    display: flex;
}

.contantleft h2 {
    margin-top: 85px;
    width: 538px;
    height: 124px;

    font-weight: 400;
    font-size: 35px;
    line-height: 62px;
    letter-spacing: 0.11em;
    color: #000000;

}

.contantleft {
    width: 515px;
    height: 514px;
    margin-left: 180px;
}

.contantleft p {
    margin-top: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
}

.googlemap .map {
    margin-left: 70px;
    margin-top: 70px;
    width: 536px;
    height: 515px;

}


/* =========================footer========================= */

.footer {
  background: #eeeeee;
  width: auto;
  height: 242px;
  line-height: 26px;

  display: flex;
}

.footerimg {
  margin-left: 55px;
  margin-top: 42px;
  margin-right: 91px;
}

.shop {
  text-align: center;
  font-family: Arial;
  color: #4e4d4d;
}

.shop p {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 10px;
  margin-top: 48px;
}

.shop a {
  text-decoration: none;
  color: #666666;
  line-height: 30px;
}

.suppor {
  text-align: center;
  font-family: Arial;
  color: #4e4d4d;
  margin-left: 300px;
}

.suppor p {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 10px;
  margin-top: 48px;
}

.suppor a {
  text-decoration: none;
  color: #666666;
  line-height: 28px;
  letter-spacing: 2px;
}

/* flower */

.follow {
  width: 350px;
  margin-left: 300px;
  margin-top: 48px;
}

.follow span {
  font-weight: 700;
  font-size: 20px;
  font-family: Arial;
  color: #4e4d4d;
  margin-bottom: 32px;
}

.follow p {
  color: #666666;
  line-height: 28px;
  letter-spacing: 2px;
}

.copyright {
  display: block;
  background-color: #e0e0e0;
  text-align: center;
  line-height: 43px;
}
