@import url("reset.css");

body {
  background-color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
 
}

/* header開始 */

/* .header {
  display: flex;
  background-color: white;
  height: 100px;
  justify-content: space-between;
  position: relative;
} */

.headerout {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

.header .logo img {
  height: 80px;
  margin-left: 80px;
  margin-top: 10px;
}

.listtext{
  display: flex;
}

.listtext ul{
  display: flex;
}
.listtext ol{
  display: flex;
}



/* .listtext  ul li:nth-child(1) {
  order: 4;
}
.listtext  ul li:nth-child(2) {
  order: 2;
}
.listtext ul li:nth-child(3) {
  order: 3;
}
.listtext ul li:nth-child(4) {
  order: 1;
} */


.listtext li a{
  text-decoration: none;
  font-family: Arial;
  font-size: 18px;
  padding: 20px;
  line-height: 100px;
  color: #4e4d4d;
}

.material-symbols-outlined {
  text-align: center;
  line-height: 100px;
  width: 80px;
  cursor: pointer;
}
.showmenu{
  display: none;
}

.listtext li:hover {
  background-color: #5e5e5e;
  & a{
    color: #e0e0e0;
  }
  
}

/* ====================== banner ==================== */
.banner {
  background-image: url(../img/bn.jpg);
  /* width: 1200; */
  height: 577px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover
}
.banner h1 {
  font-family: "Noto Serif TC";
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 0.2em;
  color: #ffffff;
  text-shadow: 0px 4px 7px #4e4d4d;

  position: absolute;
  height: 57px;
  left: calc(50% - 447px / 2 + 23.5px);
  top: 423px;
}

/* ====================== Article ======================= */

.title {
  display: flex;
  margin: 0 auto;
  position: relative;
  margin-top: 30px;
}


.title > img{
    display: inline-block;
    margin: 0 auto;
    /* background-color: aqua; */
}
.title::before {
    content: "About";
    display: block;
    font-size: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-297px);
    top: 40%;
}
.title::after {
    content: "I'M OFF!";
    display: block;
    font-size: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(170px);
    top: 40%;

}


/* ================= main ==================== */

.main {
  /* outline: 1px solid red; */
  width: 100%;
  display: flex;
  margin-top: 5%;
}

.main-title{
  padding: 1%;
  display: flex;
  margin: 0 auto;
}

.main-title-text{
  padding: 20px;
  margin: 0 auto;
}

.main h3 {
  margin: 0 auto;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.main p {
  padding-top: 10%;
  width: 493px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.2em;
}

.pic{
  width: 100%;
  max-width: 800px;
  height: 100%;
  display: flex;
  box-sizing: border-box;
}

.pic01 {
  box-sizing: border-box;
  padding-right: 20px;
  padding-top: 50px;
}

.pic02 {
  box-sizing: border-box;
}


/* ============== contant ============== */

.contant {
    background-image: url(../img/index.bg.jpg);
    /* height: 773px; */
    background-repeat: no-repeat;
    margin-top: 5%;
    display: flex;
    
}
.contant-out{
  margin: 0 auto;
  display: flex;
  
}

.contantleft {
    width: 100%;
    padding: 80px;
    max-width: 700px;
}

.contantleft h2 {
    /* width: 538px;
    height: 124px; */
    font-weight: 400;
    font-size: 35px;
    line-height: 62px;
    letter-spacing: 0.01em;
    color: #000000;
}

.contantleft p {
    margin-top: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
}

.googlemap .map {
    width: 100%;
    /* height: 515px; */
}

/* ================about img================= */

.infopic{
  margin-top: 10%;
}

.infopic ul{
  width: 100%;
  height: 400px;
  margin: 0 auto;
  /* margin-bottom: 50px; */
  /* outline: 1px solid #666666; */
  display: flex;
}
.infopic li{
  background-size: cover;
  background-position: center center;
  transition: .5s;
  filter: grayscale(1);
}

.item1{
  background-image: url(/img/about-item1.jpg);
    flex-grow: 1;
}
.item2{
  background-image: url(/img/about-item2.jpg);
    flex-grow: 2;
}
.item3{
  background-image: url(/img/about-item3.jpg);
    flex-grow: 2;
}
li:hover{
  flex-grow: 3;
  filter: grayscale(0);

}




/* =========================footer========================= */

.footer {
  background: #EEEEEE;
  width: auto;
  height: 242px;
  line-height: 26px;
  display: flex;
}

.footerimg {
  margin-left: 55px;
  margin-top: 42px;
  margin-right: 91px;
}

.shop {

  text-align: center;
  font-family: Arial;
  color: #4E4D4D;

}

.shop p {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 10px;
  margin-top: 48px;
}

.shop a {
  text-decoration: none;
  color: #666666;
  line-height: 30px;

}

.suppor {
  text-align: center;
  font-family: Arial;
  color: #4E4D4D;
  margin-left: 150px;
}

.suppor p {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 10px;
  margin-top: 48px;
}

.suppor a {
  text-decoration: none;
  color: #666666;
  line-height: 28px;
  letter-spacing: 2px;
}

/* flower */

.follow {
  width: 350px;
  margin-left: 150px;
  margin-top: 48px;
}

.follow span {
  font-weight: 700;
  font-size: 20px;
  font-family: Arial;
  color: #4E4D4D;
  margin-bottom: 10px;
}

.follow p {
  color: #666666;
  line-height: 28px;
  letter-spacing: 2px;
}

.icon {
  font-size: 25px;
  margin-top: 10px;
  
}
.icon a{
  padding-right: 5px;
}

.followup {
  margin-top: 5px;
  font-weight: 700;
}

.tel p{
  font-size: 16px;
}

.button{
align-items: center;
padding: 4px 15px;
font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
border-radius: 6px;
border: none;
cursor: pointer;

background: #6E6D70;
box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
color: #DFDEDF;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.button:focus {
box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
outline: 0;
}
.copyright {
  display: block;
  background-color: #E0E0E0;
  text-align: center;
  line-height: 43px;
}

/*======================= RWD====================== */

/* @media screen and ( max-width: 1530px){
  
  .main{
    height: 100%;
  }
  
  .main h3{
    padding-left: 150px;
  }

  .main p{
    margin-left: 150px;
  }
  .contantleft{
    width: 500px;
    margin-left: 120px;

  }

} */

/* @media screen and ( max-width: 1420px){

  .main{
    height: 100%;
  }
  .main h3{
    padding-left: 80px;
  }

  .main p{
    margin-left: 80px;
  }
  .pic{
    margin-left: 0;
  }

  .pic{
    padding: 5px;
    padding-top: 100px;
  }

} */

@media screen and ( max-width: 1350px){

  .main{
    height: 100%;
  }
  .main h3{
    font-size: 20px;
    padding-left: 80px;
  }

  .main p{
    margin-left: 80px;
    font-size: 16px;
  }
  .pic{
    margin-left: 0;
  }

  .pic{
    padding: 5px;
    padding-top: 100px;
  }
  .pic01 img{
    box-sizing: border-box;
    width: 95%;
    margin: 0;
    padding: 0;

  }
  .pic02 img{
    width: 90%;
    margin: 0;
    padding: 0;
  }
  .googlemap .map{
    width: 500px;
    height: auto;
  }

}

@media screen and ( max-width: 1270px){
  .main{
    height: 100%;
  }
  .main h3{
    font-size: 20px;
    padding-left: 80px;
  }

  .main p{
    margin-left: 80px;
    font-size: 16px;
  }
  .pic{
    margin-left: 5px;
  }

  .pic01{
    box-sizing: border-box;
    /* width: 95%; */
    margin: 0;
    padding: 0;
    padding-top: 0px;
  }
  .pic02{
    /* width: 95%; */
    margin: 0;
    padding-bottom: 0;
  }

  .contantleft h2{
    font-size: 30px;
  }
  .contantleft p{
    letter-spacing: 1;
  }

  .shop{
    display: none;
  }


}
@media screen and ( max-width: 1244px){

  .main{
    height: 100%;
  }
  .main h3{
    font-size: 20px;
    padding-left: 80px;
  }

  .main p{
    margin-left: 80px;
    font-size: 16px;
  }
  .pic{
    margin-left: 5px;
  }

  .pic01{
    box-sizing: border-box;
    /* width: 95%; */
    margin: 0;
    padding: 0;
    padding-top: 0px;
  }
  .pic02{
    /* width: 95%; */
    margin: 0;
    padding-bottom: 0;
  }

  .contantleft h2{
    font-size: 30px;
  }
  .contantleft p{
    letter-spacing: 1;
  }

  .shop{
    display: none;
  }

  .contant{
    /* flex-direction: column; */
    position: relative;
  }

 .googlemap{
    width: 100%;
    
  }
  .map>iframe{
    position: absolute;
    width: 40%;
    height: 60%;
  }


}

@media screen and ( max-width: 1215px){
  .main{
    height: 100%;
  }
  .main h3{
    font-size: 20px;
    padding-left: 80px;
  }

  .main p{
    margin-left: 80px;
    font-size: 16px;
  }
  .pic{
    margin-left: 5px;
  }

  .pic01{
    box-sizing: border-box;
    /* width: 95%; */
    margin: 0;
    padding: 0;
    padding-top: 0px;
  }
  .pic02{
    /* width: 95%; */
    margin: 0;
    padding-bottom: 0;
  }

  .contantleft h2{
    font-size: 30px;
  }
  .contantleft p{
    letter-spacing: 1;
  }
  .googlemap .map{
    margin-left: 10px;
    width: 450%;
    height: auto;
  }
  .shop{
    display: none;
  }
  .suppor{
    margin-left: 0px;
  }

  .contant{
    /* flex-direction: column; */
    position: relative;
  }

 .googlemap{
    width: 100%;
    
  }
  .map>iframe{
    position: absolute;
    width: 30%;
    height: 60%;
  }

  .headerout{
    width: 100%;
  }


}

@media screen and ( max-width: 1028px){

  .main{
    height: 100%;
  }
  .main h3{
    font-size: 20px;
    padding-left: 80px;
  }

  .main p{
    margin-left: 80px;
    font-size: 16px;
  }
  .pic{
    margin-left: 5px;
  }

  .pic01{
    box-sizing: border-box;
    /* width: 95%; */
    margin: 0;
    padding: 0;
    padding-top: 0px;
  }
  .pic02{
    /* width: 95%; */
    margin: 0;
    padding-bottom: 0;
  }

  .contantleft h2{
    font-size: 30px;
  }
  .contantleft p{
    letter-spacing: 1;
  }
  .googlemap .map{
    margin-left: 10px;
    width: 450%;
    height: auto;
  }
  .shop{
    display: none;
  }
  .suppor{
    display: none;
    margin-left: 0px;
  }

  .follow{
    width: 100%;
    margin-left: 80px;
  }

  .contant{
    /* flex-direction: column; */
    position: relative;
  }

 .googlemap{
    width: 100%;
    
  }
  .map>iframe{
    position: absolute;
    width: 30%;
    height: 60%;
  }

  .headerout{
    width: 100%;
  }

  .footerimg{
    margin-left: 10px;
    margin-right: 20px;
  }

  .copyright p{
    font-size: 14px;

  }


}

@media screen and ( max-width: 992px){

  .main{
  
    flex-wrap: wrap;
  }
  .main h3{
    font-size: 20px;
    padding-left: 80px;
  }

  .main p{
   
    padding: 20px;
    font-size: 16px;
  }

  .main-title-text{
    order: 2; 
    width: 100%;
  }

  .pic{
    margin-left: 5px;
    order: 1;
  }

  .pic01{
    box-sizing: border-box;
    /* width: 95%; */
    margin: 0;
    padding: 0;
    padding-top: 0px;
  }
  .pic02{
    /* width: 95%; */
    margin: 0;
    padding-bottom: 0;
  }

  .contantleft h2{
    font-size: 30px;
  }
  .contantleft p{
    letter-spacing: 1;
  }
  .googlemap .map{
    margin-left: 10px;
    width: 450%;
    height: auto;
  }
  .shop{
    display: none;
  }
  .suppor{
    display: none;
    margin-left: 0px;
  }

  .follow{
    width: 100%;
    margin-left: 80px;
  }

  .contant{
    /* flex-direction: column; */
    position: relative;
  }

 .googlemap{
    width: 100%;
    
  }
  .map>iframe{
    position: absolute;
    width: 30%;
    height: 60%;
  }

  .headerout{
    width: 100%;
  }

  .footerimg{
    margin-left: 10px;
    margin-right: 20px;
  }

  .copyright p{
    font-size: 14px;

  }


}




/* @media screen and ( max-width: 600px) {
  .main {
    flex-wrap: wrap;
  }
  .main .title{
    order:2;
  }
  .main .pic{
    order:1;
  }

} */


@media screen and ( max-width: 428px) {


.headerout{
  /* display: block; */
  width: 100%;
  height: 60px;
  position: relative;
}

.listtext ul{
  display: none;
  width: 100%;
  text-align: center;
  position: absolute;
  right: 0px;
  top: 60px;
  background-color: rgba(255, 255, 255, .9);
  transition: all.5s;
  z-index: 10;
}

.showmenu{
  display: block;
  float: right;
  margin-right: 30px;
  font-size: 30px;
  line-height: 60px;
  cursor: pointer;
}

.menu-show .listtext ul{
  max-height: 500px;
}

.listtext li {
  display: block;
}

.listtext li a{
  line-height: 60px;

  text-align: center;
}

.material-symbols-outlined{
  line-height: 50px;
}

.header .logo img{
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
}


/* ======== bn ======== */

.banner{
  max-height: 400px;
}

.banner h1{
  font-size: 20px;
  left: calc(50% - 250px / 2);
  top: 200px;
}

/* Article-title */

.title{
  position: relative;
}

.title img{
  display: block;
  max-width: 100px;
}
.title::before{
  content: "About";
  font-size: 20px;
  position: absolute;
  left: 70%;
  transform: translateX(-200px);
  top: 35%;
}

.title::after {
  content: "I'M OFF!";
  font-size: 20px;
  position: absolute;
  left: 27%;
  transform: translateX(170px);
  top: 35%;
}
/* main */

.main{
  width: 400px;
  height: auto;
  
}

.main ul{
 
}
.main h3 {
  margin-top: 50px;
  padding: 0 0 0 40px;
  letter-spacing: 0.15em;
  font-size: 24px;
}
.main p{
  font-size: 16px;
  margin-left: 0px;
  width: 100%;
  letter-spacing: 0;
  flex-direction: row;
}

.pic{
  flex-direction: row;
  
}

.pic01{
  flex-direction: column;
  padding-top: 0px;
  padding-right: 0px;
  width: 100%;
  height: auto;
}
.pic02{
  flex-direction: column;
  padding-bottom: 0;
  width: 100%;
  height: auto;

}

  
}
