@import url("reset.css");

body{
    background-color: white;
}

/* header開始 */

.header{
    width: 1920px;
    height: 100px;
    display: flex;
    justify-content: space-between;

}

.header .logo{
    background-size: contain;
    margin-left: 30px;
    margin-top: 10px;
}

.header ul{
    display: flex;
    margin-top: 40px;
    margin-right: 200px;
}

.header a{
    padding: 10px 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 35px;
    text-decoration: none;
    color: black; 
}

.header a:hover{
    color: #383838;
}

.material-symbols-outlined{
    margin-right: 35px;

}

/*-------------------- top  -------------------- */

.top{
    width: 100%;
    position: relative;
}

.top h1{
    font-weight: 900;
    font-size: 40px;
    line-height: 67px;
    color: #818181;
    
    position: absolute;
    width: 545px;
    height: 134px;
    left: 139px;
    top: 303px;
}
.top h2{
    position: absolute;
    width: 371px;
    height: 32px;
    left: 139px;
    top: 489px;

    color: #4E4D4D;
    letter-spacing: .1em;
    font-size: 28px;
    line-height: 32px;
}

.top .opacity{
    /* border: 1px solid red; */
    height: 188px;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
    background-image: linear-gradient(180deg, #ffffff 7.37%, rgba(217, 217, 217, 0) 53.57%);
    background-blend-mode: hard-light;
    transform: rotate(180deg);
}

/* loop未完成 */
.loop{
    width: 1920px;
    height: 316px;
    display: flex;
    overflow: hidden;
}


/* ======================== Article ======================== */

.outarticle{
    width: 1920px;
    height: 923px;

    position: relative;
}

.articlebg{
    position: absolute;
    top: 281px;
}

.article{
    width: 1920px;
    height: 638px;
    position: absolute;
    top: 0;
 
}

.article img{
    position: absolute;
    top: 103px;
    left: 0;
}

.text{
    width: 600px;
    height: 620px;
    position: absolute;
    top:145px;
    right: 145px;
}

.text h3{

    margin-bottom: 81px;
    font-weight: 700;
    font-size: 35px;
    line-height: 32px;
    letter-spacing: 0.39em;

    color: #4E4D4D;
}

.text p{
    font-size: 16px;
    line-height: 32px;

    color: #000000;
}

/* ================== select ================== */


.select{
    width: 1920px;
    height: 665px;
    margin: o auto;
}

.select .block{
    width: 1530px;
    height: 490px;
    margin: 0 auto;
}

.block ul{
    margin-top: 202px;
    display: flex;
}

.block li{
    margin-right: 40px;
}

.block li a{
    text-align: center;
    display: block;
    text-decoration: none;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0.2em;
    
    margin-top: 21px;
}

/* ======================== main ======================== */

.main{
    width: 1920px;
    height: 1139px;
}

.mainpic{
    width: 1400px;
    height: 829px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: flex-end; */
}

.mainpic a{
    position: relative;
}
.mainpic p{
    position: absolute;
    top: 50%;left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;

    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.46);

}

.mainpic img{
    margin-top: 21px;
    margin-left: 21px;
}

.maintext h2{
    margin-bottom: 100px;
    font-family: Arial;
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 50px;
    /* line-height: 72px; */
    color: #000000;
}

/* ======================== NEWS ======================== */

.news{
    /* border: 1px solid red; */
    margin-top: 76px;
    width: 1920px;
    height: 747px;
}

.news h2{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 80px;
    color: #000000;
    margin-bottom: 80px;
}

.newsout1{
    border-top: 1px solid #666666;
    width: 1300px;
    height: 166px;
    margin: 0 auto;
    border-bottom: 1px solid #666666;
}
.newstext1{
    padding-top: 75px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly
}

.newsout2{
    width: 1300px;
    height: 166px;
    margin: 0 auto;
    border-bottom: 1px solid #666666;
}

.newstext2{
    padding-top: 75px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly
}

.newstext1 p:nth-child(2){
    background-color: #818181;
    display: block;
    width: 80px;
    line-height: 30px;
    text-align: center;
    color: #EEEEEE;
}

.newstext2 p:nth-child(2){
    background-color: #818181;
    display: block;
    width: 80px;
    line-height: 30px;
    text-align: center;
    color: #EEEEEE;
}

/* ======================== contant ======================== */


.contant{
    background-image: url(../img/index.bg.jpg);
    height: 773px;
    width: 1920px;
    background-repeat: no-repeat;
    margin-top: 250px;
    display: flex;
}

.contantleft h2{
    margin-top: 152px; ;
    width: 538px;
    height: 124px;

    font-weight: 400;
    font-size: 35px;
    line-height: 62px;
    letter-spacing: 0.11em;
    color: #000000;
    
}

.contantleft{
    width: 515px;
    height: 514px;
    margin-left: 321px;
}

.contantleft p{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
}

.googlemap .map{
    margin-left: 160px;
    margin-top: 70px;
    width: 536px;
    height: 515px;

}
    


/* =========================footer========================= */

.footer{
    background: #EEEEEE;
    width: auto;
    height: 242px;
    line-height: 26px;

    display: flex;
}

.footerimg{
    margin-left: 55px;
    margin-top: 42px;
    margin-right: 91px;
}

.shop{

    text-align: center;
    font-family: Arial;
    color: #4E4D4D;
   
}

.shop p{
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 48px;
}

.shop a{
    text-decoration: none;
    color: #666666;
    line-height: 30px;
     
}

.suppor{
    text-align: center;
    font-family: Arial;
    color: #4E4D4D;
    margin-left: 300px;
}

.suppor p{
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 48px;
}

.suppor a{
    text-decoration: none;
    color: #666666;
    line-height: 28px;
    letter-spacing: 2px;
}

/* flower */

.follow{
    width: 350px;
    margin-left: 300px;
    margin-top: 48px;
}

.follow span{
    font-weight: 700;
    font-size: 20px;
    font-family: Arial;
    color: #4E4D4D;
    margin-bottom: 32px;
}

.follow p{
    color: #666666;
    line-height: 28px;
    letter-spacing: 2px;
}


.copyright{
    display: block;
    background-color: #E0E0E0;
    text-align: center;
    line-height: 43px;
}