@import url("reset.css");

body{
    background-color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

    
}

/* header開始 */


.headerout {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
  }
  
  .header .logo img {
    height: 80px;
    margin-left: 80px;
    margin-top: 10px;
  }
  
  .RWD-logo{
    display: none;
  }
  
  .listtext ul{
    display: flex;
  }
  
  .listtext li a{
    text-decoration: none;
    font-family: Arial;
    font-size: 18px;
    padding: 20px;
    line-height: 100px;
    color: #4e4d4d;
  }
  
  
  .material-symbols-outlined {
    text-align: center;
    line-height: 100px;
    width: 80px;
    cursor: pointer;
  }
  .fa-solid .fas{
    line-height: 100px;
  }
  .showmenu i{
    text-align: center;
    font-size: 25px;
    color: #4e4d4d;
    width: 80px;
    height: auto;
    cursor: pointer;
  
  }
  
  .listtext li:hover {
    background-color: #5e5e5e;
    & a{
      color: #e0e0e0;
    }
    
  }
  
/* ====================== banner ==================== */
.bn{
    background-image: url(../img/product_b.jpg);
    width: 100%;
    height: 517px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;

}

/* -----------------Wrapper----------------- */


.container{
    margin-top: 26px;
    /* background-color: gainsboro; */
    box-sizing: border-box;
    width: 800px;
    height: 106px;
    
}

.breadcrumb{
    /* border: 1px solid red; */
    display: flex;
    margin-left: 80px;
}

.breadcrumb li a{
    text-decoration: none;
    color: #4e4d4d;
}
.breadcrumb li a:hover{
    color: #000000;
    text-decoration: underline;
}


.breadcrumb li{
    padding: 5px;
    padding-left: 0;
    
    & + li::before {
        content: '/';
        color: #666666;
        padding: 10px;
    } 
}


/* -----------左側選單-------------- */

.block-inner{
    max-width: 100%;
}

.pd-box{
    max-width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
}

.left-box{
    width: 300px;
    flex: 1;
}

.liftList{
    margin: 0;
    padding: 0;
    &+li {
        font-size: 100px;
    }
}

.leftList{
    /* outline: 1px solid red; */
    display: inline-block;
    font-weight: 600;
    line-height: 2.0;
    font-size: 16px;
    color: #333;
    position: relative;
    padding: 12px 25px 12px 100px;
    word-break: break-word;
}
.leftList li::after{
    font-family: FontAwesome;
    font-size: 12px;
    position: absolute;
    /* top: 0; */
    right: -30px;
    content: '\f107';
    padding: 11px
}

.top .fa-solid{
    font-size: 12px;
    position: absolute;
    top: 79px;
    right: -19px;
}

.top p{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #6E6D70;
}

/* right box */



.right-box-pdlist{
    display: grid;
    gap: 40px 20px;
    grid-template-columns: 1fr 1fr 1fr;    
}

.right-box-pdlist{
    padding: 0 12px 0;
    margin-bottom: 150px;
    position: relative;
}

.select-sort .js-select-sort{
  text-align: right;
}

.product-item{
    margin-bottom: 68px;
  }

  /* pd-star */
.product-item a{
    text-decoration: none;
}
.box-img-wrapper{
    margin: 0 0 16px;
    position: relative;
}

.box-img{
    transition: 4s;
}

.box-img img{
    max-width: 85%;
    height: auto;
    display: block;
    margin: auto;
}
.btn-add-to-card{
    background-color: #C7BB98;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -38px;
    width: auto;
    height: auto;
    padding: 13px 0;
    transition: all 300ms ease-out;
    opacity: 0;
    transform: translateY(0px);  
}
.btn-add-to-card p{
    text-align: center;
}

.btn-add-to-card:hover{
    opacity: 1;
    transform: translateY(-40px);
}
.info-box{
    height: auto;
    max-width: 100%;
    margin: 0 auto;
}
.info-box p{
    text-decoration: none;
    text-align: center;
    padding: 7px 7px 7px 7px;
    font-size: 20px;
    letter-spacing: 0.105em;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: #747474;
}

.text-center{
    margin: 0 auto;
    display: block;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    top: 520%;
    right: 40%;
    
}
ul .pagination{
    display: inline-block;
    padding: left 0;
    margin: 20px 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}




/* =========================footer========================= */

.footer {
    background: #EEEEEE;
    padding: 1%;
    width: auto;
    height: 242px;
    line-height: 26px;
    display: flex;
    justify-content: space-between;
  }
  
  .footerimg {
    margin-left: 55px;
    margin-top: 42px;
    margin-right: 91px;
  }
  
  .shop {
  
    text-align: center;
    font-family: Arial;
    color: #4E4D4D;
  
  }
  
  .shop p {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 48px;
  }
  
  .shop a {
    text-decoration: none;
    color: #666666;
    line-height: 30px;
  
  }
  
  .suppor {
    text-align: center;
    font-family: Arial;
    color: #4E4D4D;
    margin-left: 150px;
  }
  
  .suppor p {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 48px;
  }
  
  .suppor a {
    text-decoration: none;
    color: #666666;
    line-height: 28px;
    letter-spacing: 2px;
  }
  
  
  .follow {
    width: 350px;
    margin-left: 150px;
    margin-top: 48px;
  }
  
  .follow span {
    font-weight: 700;
    font-size: 20px;
    font-family: Arial;
    color: #4E4D4D;
    margin-bottom: 10px;
  }
  
  .follow p {
    color: #666666;
    line-height: 28px;
    letter-spacing: 2px;
  }
  
  .icon {
    font-size: 25px;
    margin-top: 10px;
    
  }
  .icon a{
    padding-right: 5px;
  }
  
  .followup {
    margin-top: 5px;
    font-weight: 700;
  }
  
  .tel p{
    font-size: 16px;
  }
  
  .button{
  align-items: center;
  padding: 4px 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  
  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  }
  
  .button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
  }
  .copyright {
    width: 100%;
    display: block;
    background-color: #E0E0E0;
    text-align: center;
    line-height: 43px;
  }
  


/* ======= RWD ======= */

@media screen and ( max-width: 1300px){
    .footerimg{
        margin-left: 10px;
        margin-right: 20px;
      }
    
      .copyright p{
        font-size: 14px;
    
      }

}

@media screen and ( max-width: 1168px){
    .info-box p{
        font-size: 16px;
        padding: 5px;
    }

    .right-box-pdlist{
        gap: 20px 5px;
        padding: 0;
    }
    .shop{
        display: none;
      }
    
      .follow{
        width: 100%;
        margin:auto;
      }
      .follow p{
        letter-spacing: 0;
      }
    
      .contant{
        position: relative;
      }
      .suppor{
        width: 100%;
        margin: 0 auto;
      }
    
      .map>iframe{
        position: absolute;
        width: 30%;
    
      }
    
      .headerout{
        width: 100%;
      }
    
      .footerimg{
      }
    
      .copyright p{
        font-size: 14px;
    
      }
    
}

@media screen and ( min-width: 997px){
    .showmenu{
      display: none;
    } 
  
  }
  @media screen and ( max-width: 996px){

    .header .logo img{
      max-height: 78%;
      margin: auto;
      padding-top: 3%;
    }
  
    .listtext ul{
      flex-direction: column;
      width: 100%;
      position: absolute;
      right: 0;
        top: 100px;
      background-color: white;
      text-align: center;
      display: none;
    }
  
    .listtext li:nth-child(1){
      display: none;
    }
    .listtext li:nth-child(6){
      display: none;
    }
  
    .listtext li a{
      line-height: 60px;
    }
    .left-box{
      display: none;
    }
  
    .pd-box {
      max-width: 90%;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr;
      gap: 19px;
  }
  
   
    
    .shop{
      display: none;
    }
  
    .follow{
      width: 100%;
      margin:auto;
    }
    .follow p{
      letter-spacing: 0;
    }
  
    .contant{
      position: relative;
    }
    .suppor{
      width: 100%;
      margin: 0 auto;
    }
  
  
   .googlemap{
      width: 100%;
      
    }
    .map>iframe{
      position: absolute;
      width: 30%;
  
    }
  
    .headerout{
      width: 100%;
    }
  
    .footerimg{
    }
  
    .copyright p{
      font-size: 14px;
  
    }
  
  
  }
     

  @media screen (min-width: 767px){

    .left-box{
        width: 230px;
    }

    .leftList{
        padding: 8px 10px 10px 50px;
    }

    .right-box-pdlist{

    }

     .right-box-pdlist {
        width: 70%
    }

    .info-box p{
        padding: 0;
    }

    
}
